.notFoundContainer {
  text-align: center;
}

.heading {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
}

.notFoundPathName {
  color: #ff0d00;
}

.notFoundImg {
  margin: 0 auto 40px;
  width: 300px;
  display: block;
}
